# Big files that aren't actually needed for the web app
src/assets/*
!src/assets/baseline_oa.json
!src/assets/newcastle.json
!src/assets/scenario1_oa.json
!src/assets/scenario2_oa.json
!src/assets/README.md

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
