@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap');

/* https://css-tricks.com/box-sizing/ */
html {
    font-family: "Instrument Sans", sans-serif;
    box-sizing: border-box;
    background-color: #fcfcfc;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* Override browser default style sheet. */
body {
    margin: 0px;
    padding: 0px;
}

.strong {
    font-weight: bold;
}

h1, h2, h3, h4, h5 {
    margin-top: 0px;
}

h1 {
    font-size: 140%;
}

h2 {
    font-size: 120%;
}

.mapboxgl-canvas {
    left: 0;
}
