/* CSS classes for MapLibre popups and their contents. The code to generate
* popups is in App.svelte, but if I put the CSS styles there they don't get
* applied, presumably because the scope of the CSS is limited to the component
* itself (which the map popups are not part of). */

:root {
  --popup-bg-color: #ffffff;
  --popup-opacity: 90%;
}

.maplibregl-popup {
    padding: 0px;
    margin: 0px;
    font-family: "IBM Plex Sans", sans-serif;
}

/* !important is needed to override the default maplibre styles */
.maplibregl-popup-content {
    background-color: var(--popup-bg-color) !important;
    opacity: var(--popup-opacity) !important;
    padding: 15px !important;
    border-radius: 10px !important;
    line-height: 1 !important;  /* control via grid row-gap */
}

/* The triangular tip at the bottom of the popup. Often more classes are
* needed, see https://stackoverflow.com/a/44555155, but when generating the
* popup I use anchor: 'bottom' so we only need to care about one case. */
.maplibregl-popup-anchor-bottom .maplibregl-popup-tip {
    border-top-color: var(--popup-bg-color) !important;
    opacity: var(--popup-opacity) !important;
}

div.hover-grid {
    display: grid;
    grid-template-columns: max-content max-content;
    column-gap: 8px;
    row-gap: 8px;
}

span.oa-grid-item {
    grid-column: 1 / 3;
}

span.oa-name {
    font-size: 120%;
    font-weight: bold;
}

span.old-sig {
    font-size: 90%;
    color: #888888;
}

span.right-align-grid-item {
    justify-self: end;
}
